<mat-toolbar-row class="toolbar mat-elevation-z2">
  <button (click)="drawer?.toggle()"
          mat-icon-button
          class="btn-menu"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <mat-form-field class="customize field-search" appearance="outline">
    <mat-label>Search...</mat-label>
    <input matInput type="text" [formControl]="search">
    @if (search.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <span class="spacer"></span>

  <ng-container *ngIf="noteSelected.length > 0">
    <button mat-icon-button (click)="addNewNote()">
      <mat-icon>archive</mat-icon>
    </button>

    <button mat-icon-button (click)="addNewNote()">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>

  <button mat-icon-button (click)="addNewNote()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar-row>

<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer class="example-sidenav mat-elevation-z3" mode="push">
    <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button (click)="node?.action(node?.name)" mat-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon color="primary" *ngIf="!node.icon" class="mat-icon-rtl-mirror">
            {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>

          <mat-icon *ngIf="node.icon" class="mat-icon-rtl-mirror">
            {{ node.icon }}
          </mat-icon>

          {{ node.name }}
        </button>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                     [cdkTreeNodeTypeaheadLabel]="node.name">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon *ngIf="!node.icon" class="mat-icon-rtl-mirror">
            {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>

          <mat-icon *ngIf="node.icon" class="mat-icon-rtl-mirror">
            {{ node.icon }}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-notes (notesSelectedEmitter)="onNotesSelectedEmitter($event)"></app-notes>
  </div>

</mat-drawer-container>

