<ng-container *ngIf="noteMode === NOTE_MODE.DETAIL; else modeEdition">
  <app-note-detail [note]="note"
                   (editionNote)="editionNote($event)"
                   (resizeTextArea)="onResizeTextArea()"></app-note-detail>
</ng-container>

<ng-template #modeEdition>
  <app-edition-note [note]="note"
                    (cancelEdition)="onCancelEdition()"
                    (closeEdition)="onCloseEdition()"
                    (resizeTextArea)="onResizeTextArea()"></app-edition-note>
</ng-template>



