<div class="note-container">
  <ng-container *ngIf="newNote">
    <app-note
      [note]="newNote"
      [noteMode]="NOTE_MODE.CREATE">
    </app-note>
  </ng-container>

  <div cdkDropList
       cdkDropListOrientation="mixed"
       class="example-list"
       (cdkDropListDropped)="drop($event)">
    <ngx-tile-layout
      #masonryLayoutComponent
      class="masonry-layout"
      [itemTemplate]="itemTemplate"
      [items]="noteList"
      [columnCount]="breakpoint"
      [gutter]="15">
      <ng-template #itemTemplate let-note>
        <app-note
          cdkDrag
          class="tile-item"
          [note]="note"
          [noteMode]="noteMode"
          (notesSelected)="onNoteSelected($event)"
          (cancelEdition)="cancelEdition()"
          (closeEdition)="closeEdition()"
          (resizeTextArea)="resizeTextArea()"
          (noteIdEditionMode)="getNoteIdEditionMode($event)"
          [cdkDragDisabled]="note.id === noteIdEdited"
          (cdkDragMoved)="dragMoved()">
        </app-note>
      </ng-template>
    </ngx-tile-layout>
  </div>
</div>
