<div class="note-container">

  <div class="add-note-button">
    <button mat-raised-button color="primary" (click)="addNewNote()">
      <mat-icon>add</mat-icon>
      Add New Note
    </button>
  </div>

    <ng-container *ngIf="newNote">
      <app-note-card
        [note]="newNote"
        (noteAdded)="addNoteHandler($event)"
        (noteUpdated)="updateNoteHandler($event)"
        (cancelEdit)="cancelEditNoteHandler()"
        (noteDeleted)="deleteNoteHandler($event)">
      </app-note-card>
    </ng-container>

<div cdkDropList
     cdkDropListOrientation="mixed"
     class="example-list"
     (cdkDropListDropped)="drop($event)">
  <ngx-tile-layout
    #masonryLayoutComponent
    class="masonry-layout"
    [itemTemplate]="itemTemplate"
    [items]="noteList"
    [columnCount]="breakpoint"
    [gutter]="15">
      <ng-template #itemTemplate let-note>
          <app-note-card
            cdkDrag
            class="tile-item"
            [cdkDragDisabled]="note.id === noteEdit"
            (cdkDragMoved)="dragMoved($event)"
            [note]="note"
            (noteAdded)="addNoteHandler($event)"
            (noteUpdated)="updateNoteHandler($event)"
            (cancelEdit)="cancelEditNoteHandler()"
            (resizeTextArea)="resizeTextArea()"
            (isEditMode)="currentNoteEdite($event)"
            (noteDeleted)="deleteNoteHandler($event)">
          </app-note-card>
      </ng-template>
  </ngx-tile-layout>
</div>

  <!-- <mat-grid-list rowHeight="270px"
                 gutterSize="10px"
                 [cols]="breakpoint"
                 *ngIf="notes$ | async as notes">

    <mat-grid-tile *ngIf="newNote">
      <div class="note-card-container">
        <app-note-card
          [note]="newNote"
          (noteAdded)="addNoteHandler($event)"
          (noteUpdated)="updateNoteHandler($event)"
          (cancelEdit)="cancelEditNoteHandler()"
          (noteDeleted)="deleteNoteHandler($event)">
        </app-note-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let note of notes;">
      <div class="note-card-container">
        <app-note-card
          [note]="note"
          (noteAdded)="addNoteHandler($event)"
          (noteUpdated)="updateNoteHandler($event)"
          (noteDeleted)="deleteNoteHandler($event)">
        </app-note-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
