<app-toolbar class="mat-elevation-z3"
             [selectedNotes]="selectedNotes"
             (toggleSideNav)="onToggleSideNav()"
             (archiveNotes)="archiveNotes()"
             (addNote)="addNote()"
             (deleteNotes)="deleteNotes()"
             (search)="search($event)"></app-toolbar>

<app-side-nav [toggleSideNav]="toggleSideNav">
  <menu class="collection-menu">
    <app-collection-menu [treeList]="treeList"></app-collection-menu>
  </menu>

  <content>
    <app-note-list (notesSelectedEmitter)="onSelectedNotes($event)"></app-note-list>
  </content>
</app-side-nav>

