<app-toolbar [selectedNotes]="selectedNotes"
                     (toggleSideNav)="onToggleSideNav()"
                     (archiveNotes)="archiveNotes()"
                     (addNote)="addNote()"
                     (deleteNotes)="deleteNotes()"
                     (search)="search($event)"></app-toolbar>
<mat-divider></mat-divider>

<app-side-nav [toggleSideNav]="toggleSideNav">
  <menu>
    <app-collection-menu [treeList]="treeList"></app-collection-menu>
  </menu>

  <content>
    <app-note-list (notesSelectedEmitter)="onSelectedNotes($event)"></app-note-list>
  </content>
</app-side-nav>

