<div class="dialog-container">
  <h5 mat-dialog-title> Gestion des modèles de tâche </h5>
  <div mat-dialog-content>
    <mat-card appearance="outlined" class="card-transparent">
      <div>
        <div class="d-flex flex-row justify-content-between">
          <h6> Ajouter une tâche</h6>
          <div class="d-flex">
            <button mat-button (click)="resetFields()">Vider les champs</button>
          </div>
        </div>

        <mat-divider class="my-2"></mat-divider>

        <div class="form-fields">
          <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
            <mat-label>Projet</mat-label>
            <input matInput [(ngModel)]="project"/>
          </mat-form-field>

          <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
            <mat-label>Tâche</mat-label>
            <input matInput [(ngModel)]="task"/>
          </mat-form-field>

          <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field description-field">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="description"/>
          </mat-form-field>

          <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
            <mat-label>Sales Order Item</mat-label>
            <input matInput [(ngModel)]="salesOrderItem"/>
          </mat-form-field>

          <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
            <mat-label>Heures</mat-label>
            <input matInput type="number" [(ngModel)]="hours"/>
            <span class="fs-6" *ngIf="hours"> {{ hours | decimalConvertToHour }}</span>
          </mat-form-field>
        </div>

        <mat-divider class="my-2"></mat-divider>

        <div class="d-flex flex-row justify-content-end">
          <div class="d-flex">
            <button mat-button (click)="saveAsTemplate()">Enregistrer comme modèle</button>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card appearance="outlined" class="card-transparent" *ngIf="taskTemplates.length > 0">
      <div>
        <h6> Liste des modèles de tâches</h6>
        <mat-divider></mat-divider>
        <br>
        <table mat-table #taskTemplate [dataSource]="taskTemplates">
          <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef> Projet</th>
            <td mat-cell *matCellDef="let template">
              <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
                <input matInput [(ngModel)]="template.project">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef> Tâche</th>
            <td mat-cell *matCellDef="let template">
              <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
                <input matInput [(ngModel)]="template.task">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let template">
              <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
                <input matInput [(ngModel)]="template.description">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef> Heures</th>
            <td mat-cell *matCellDef="let template">
              <mat-form-field subscriptSizing="dynamic" appearance="fill" class="form-field">
                <input matInput type="number" [(ngModel)]="template.hours">
                <span class="fs-6"> {{ template.hours | decimalConvertToHour }} </span>
              </mat-form-field>
            </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let template" class="cell-button">
              <span class="mx-1"></span>
              <button mat-icon-button (click)="deleteTemplate(template.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">fermer</button>
  </div>
</div>
