<mat-toolbar-row class="toolbar">
  <div class="calendar-month-navigation">
    <button mat-icon-button (click)="previousMonth()" aria-label="Mois précédent">
      <mat-icon>arrow_left</mat-icon>
    </button>

    <h2>{{ displayedMonth | date: 'MMMM yyyy' }}</h2>

    <button mat-icon-button (click)="nextMonth()" aria-label="Mois suivant">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>

  <!-- <mat-form-field appearance="outline" subscriptSizing="dynamic" class="customize field-search w-100">
    <mat-label>search...</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field> -->

  <span class="spacer"></span>

  <span class="mx-2"></span>

  <mat-slide-toggle
    [(ngModel)]="allSelected"
    (change)="selectAllDays($event.checked)">
    Sélectionner tous les jours ouvrés
  </mat-slide-toggle>

  <span class="mx-2"></span>

  <button mat-raised-button style="width:260px;" (click)="openTaskTemplateModal()">Gestion des modèles</button>

</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="calendar">
  <mat-card appearance="outlined" class="calendar-container"  *ngIf="!!holidays">
    <div class="calendar-content">
      <table class="calendar-table">
    <tbody>
    <tr>
      <td *ngFor="let day of daysInMonth" class="no-border">
        <mat-checkbox class="example-margin"
                      [checked]="isSelected(day)"
                      (click)="selectDays(day)"></mat-checkbox>
      </td>
    </tr>
    <tr>
      <td *ngFor="let day of daysInMonth"
          [class.no-border]="!isSelected(day)"
          [matTooltip]="getTooltipText(day)"
          [ngClass]="{'weekend': isWeekend(day), 'holiday': isHoliday(day) && !isWeekend(day)}">
        <div>{{ day | date: 'd' }}</div>
        <div>{{ day | date: 'EEE' }} </div>
      </td>
    </tr>
    <tr>
      <td *ngFor="let day of daysInMonth"
          [class.no-border]="!isSelected(day)"
          [matTooltip]="getTooltipText(day)"
          [ngClass]="{'school-holiday': isSchoolHoliday(day), 'weekend': isWeekend(day)}">
        <app-total-time-task [tasks]="dataSource.data" [date]="day"></app-total-time-task>
      </td>
    </tr>
    </tbody>
  </table>
    </div>
</mat-card>
</div>

<div #tooltipContent style="display: none;">
  <b>Sélectionne tous les jours</b> sauf samedi et dimanche.
</div>

<div class="tasks-container">
  <mat-card appearance="outlined" style="background-color: transparent">
    <div class="task-content">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="customize field-search w-50">
        <mat-label>search...</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>

      <div class="w-50">
        <div class="calendar-month-navigation">
          <button *ngIf="selectedDays.length === 1" mat-icon-button (click)="previousDay(selectedDays[0])" aria-label="Jour précédent">
            <mat-icon>arrow_left</mat-icon>
          </button>

          <span style='width: 200px;text-align: center' *ngIf="selectedDays.length === 1">
            {{ selectedDays[0] | date: 'EEEE d MMMM yyyy' }}
          </span>
          <span *ngIf="selectedDays.length > 1">
            {{ selectedDays.length }} jours sélectionnés
          </span>

          <button *ngIf="selectedDays.length === 1" mat-icon-button (click)="nextDay(selectedDays[0])" aria-label="Jour suivant">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
      </div>

      <div class="button-container w-50">
        <button mat-raised-button *ngIf="dataSource.data.length > 0" color="secondary" (click)="exportToXLSX()">Exporter en CSV</button>
        <span class="mx-1"></span>
        <button mat-raised-button *ngIf="selectedDays.length > 0" (click)="openTaskModal()">Ajouter une tâche</button>
      </div>
    </div>

    <mat-divider *ngIf="(dataSource.data | filterByDate: selectedDays).length > 0 && selectedDays.length > 0"></mat-divider>

    <div class="tasks-list" *ngIf="(dataSource.data | filterByDate: selectedDays).length > 0">

      <table #tasks
             mat-table
             matSort
             multiTemplateDataRows
             matSortDirection="asc"
             matSortActive="date"
             matSortDisableClear
             [dataSource]="dataSource"
             class="mat-elevation-z8">
        <ng-container *ngFor="let column of columnsToDisplay; let index = index" [matColumnDef]="column">
          <th mat-header-cell  mat-sort-header *matHeaderCellDef> {{ columnLabels[column] || column }} </th>
          <td mat-cell *matCellDef="let element" class="editable-cell">
            <ng-container *ngIf="editedRow !== element; else editMode">
              <span [ngSwitch]="column">
                <span *ngSwitchCase="'date'">{{ element[column] | date: 'dd/MM/yyyy' }}</span>
                <span *ngSwitchCase="'hours'">{{ element[column] | decimalConvertToHour }}</span>
                <span *ngSwitchDefault>{{ element[column] }}</span>
              </span>

              <button *ngIf="column === 'actions'" mat-icon-button (click)="editRow(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="column === 'actions'" mat-icon-button (click)="deleteRow(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
            <ng-template #editMode>
              <span *ngIf="column === 'date'">
                {{ element[column] | date: 'dd/MM/yyyy' }}
              </span>

              <mat-form-field *ngIf="column !== 'date' && column !== 'actions'"
                              class="form-field"
                              subscriptSizing="dynamic"
                              appearance="fill">
                <input matInput
                       [attr.type]="column === 'hours' ? 'number' : 'text'"
                       (input)="changeRowValue(element, column, $event)"
                       [ngModel]="element[column]"
                       (keydown.enter)="saveRow(element)" />

                <div class="fs-6" *ngIf="column === 'hours'"> {{ element[column] | decimalConvertToHour }} </div>
              </mat-form-field>
              <button *ngIf="column === 'actions'" mat-icon-button (click)="saveRow(element)">
                <mat-icon>check</mat-icon>
              </button>
              <button *ngIf="column === 'actions'" mat-icon-button (click)="cancelEdit()">
                <mat-icon>close</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
      </table>

    </div>
  </mat-card>
</div>
