.container { padding: 20px; font-family: Arial, sans-serif; }
li { list-style: none; margin: 5px 0; cursor: pointer; }
ul { padding-left: 20px; }
.bookmark-form { padding: 20px; background: #f3f3f3; border-radius: 5px; }


.example-tree {
  background: transparent!important;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
