<div class="dialog-container">
  <h2 mat-dialog-title> Changed collection Notes </h2>
  <mat-dialog-content>
    <p>1) êtes-vous sur de modifier les collections des notes : </p>
    <app-note-checkbox-list [notes]="data.selectedNotes" (selectionChange)="selectionChange($event)"></app-note-checkbox-list>
    <br>
    <p>2) Choisissez une ou plusieurs collections : </p>
    <app-collection-checkbox-list (selectionChange)="selectedCollections($event)"></app-collection-checkbox-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onClosed()">No</button>
    <button mat-button (click)="onConfirmed()">Ok</button>
  </mat-dialog-actions>
</div>
