.collection-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collection-name-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}
